#employee-edit-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    height: fit-content;
    padding: 1rem;
}

#employee-edit-dialog[open] {
    animation: toggle-modal .2s ease-in-out;
}

@keyframes toggle-modal {
    from {
        opacity: 0;
        scale: .9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

#employee-edit-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#employee-edit-dialog-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    height: 33rem;
    width: 31rem;
}

#employee-edit-dialog-loading::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.employee-edit-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    border-radius: 10px;
}

.employee-edit-dialog-container .close {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    font-weight: bold;
}

.employee-edit-dialog-container .close svg {
    width: 1.1rem;
}

.employee-edit-dialog-container form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 35rem;
    font-size: 1rem;
    gap: .6rem;
}

.employee-edit-dialog-container form .title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.employee-edit-dialog-container form div>input {
    width: 100%;
    padding: .3rem .3rem .3rem .5rem;
    font-size: 1rem;
    border: 1px solid grey;
}

.employee-edit-dialog-container form .submit {
    padding: .55rem 1rem;
    font-weight: bold;
    align-self: center;
}

.department-position {
    display: flex;
    gap: 1rem;
}
