.employees-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 1rem;
	font-family: 'Nunito', sans-serif;
	padding: 1.5rem 0 4rem 0;
}

.employees-table {
	display: flex;
	flex-direction: column;
	border: none;
	width: 85%;
	font-size: 0.9rem;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

.employees-table .top-row {
	background-color: #001a2c;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 1.5rem;
}

.employees-table .top-row label {
	font-size: 0.9rem;
}

.employees-table .top-row select {
	border: none;
	border-radius: 5px;
	font-size: 0.8rem;
	padding: 0.15rem;
}

.employees-table .top-row form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.employees-table .top-row input {
	border: none;
	outline-width: 0;
	border-radius: 5px;
	font-size: 0.9rem;
	padding: 0.17rem 0.6rem;
	width: 14rem;
	transition: all 0.2s;
	z-index: 1;
}

.employees-table .top-row input:focus {
	width: 23rem;
}

.employees-table .top-row button {
	position: absolute;
	right: -2px;
	transform: translateX(2px);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0.19rem 0.6rem;
	z-index: 2;
}

.employees-table .top-row button svg {
	width: 1.2rem;
}

.employees-table .middle-row {
	display: flex;
	border: none;
	min-height: 423px;
}

.employees-table .middle-row .loading {
	flex-grow: 1;
}

.employees-table .middle-row table {
	color: black;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.employees-table .middle-row table thead {
	background-color: rgba(0, 64, 108, 0.2);
}

.employees-table .middle-row table th,
.employees-table .middle-row table td {
	border: 1px solid #9a9a9a;
	padding: 8px;
	text-align: left;
}

.employees-table .middle-row table td button {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.employees-table .middle-row table td button.delete-button {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.employees-table .bottom-row {
	background-color: #001a2c;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.7rem 1.5rem;
	outline-width: 0;
}

.employees-table .bottom-row label {
	font-size: 0.9rem;
}

.employees-table .bottom-row select {
	border: none;
	border-radius: 5px;
	font-size: 0.8rem;
	padding: 0.15rem;
}

.employees-table .bottom-row .page-navigation {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
}

.employees-table .bottom-row .page-navigation button svg {
	width: 1rem;
}
