.employees-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    padding-top: 2rem;
}

.employees-table {
    border: 1px solid black;
    width: 45rem;
}

.employees-table .top-row {
    background-color: rgba(10, 25, 78, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 1rem;
}

.employees-table label {
    font-size: .9rem;
}

.employees-table select {
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 5px;
    font-size: .8rem;
    padding: .15rem;
}

.employees-table form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.employees-table input {
    border: none;
    outline-width: 0;
    border-radius: 5px;
    font-size: .9rem;
    padding: .17rem;
    width: 10rem;
    transition: all 0.2s;
}

.employees-table input:focus {
    width: 16rem;
}

.employees-table button {
    background-color: rgba(29, 46, 107, 1);
    position: absolute;
    right: -2px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: .19rem .6rem;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employees-table button:hover {
    background-color: rgba(75, 91, 151, 1);
}
.employees-table button svg {
    width: 1.2rem;
}