.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 1rem 0.5rem;
}

.register-page section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgb(57, 66, 148);
}

.register-page form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.register-page a,
.register-page a:visited {
    color: #fff;
}

.register-page input,
.register-page button,
.register-page textarea {
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    width: 100%;
}

.register-page label,
.register-page button {
    margin-top: 1rem;
}

.register-page button {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
    width: 9rem;
    align-self: center;
    transition: background-color 0.2s;
}

.register-page button:hover:not(:disabled) {
    background-color: #9499CD;
}

.register-page .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    padding: 0.3rem;
    margin-top: .4rem;
}

.register-page .instructions > svg {
    margin-right: 0.25rem;
}

.register-page .offscreen {
    position: absolute;
    left: -9999px;
}

.register-page .hide {
    display: none;
}

.register-page .valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.register-page .invalid {
    color: red;
    margin-left: 0.25rem;
}

.register-page svg {
    width: 1rem;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -3px;
}

.register-page .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.register-page .line {
    display: inline-block;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
}

.password-container .eye-icon svg {
    position: absolute;
    width: 1.1rem;
    color: #5e5e5e;
    right: 2.5%;
    top: 50%;
    cursor: pointer;
}